In [4]:
import psycopg2
import sys
from sqlalchemy import create_engine
import geopandas as gpd
import os

In [5]:
DATABASE_NAME = "lab_postgis"
PASSWROD = os.environ.get("POSTGRES_PASS")

In [6]:
def getEngineConnectionString(user='postgres', password=PASSWROD, dbname='postgres'):
    return "postgresql://" + user + ":" + password + "@localhost/" + dbname

In [7]:
def getOpenConnection(user='postgres', password=PASSWROD, dbname='postgres'):
    return psycopg2.connect(database = dbname, user = user, host='localhost', password= password)

In [8]:
def createDB(dbname='postgres'):
    """
    We create a DB by connecting to the default user and database of Postgres
    The function first checks if an existing database exists for a given name, else creates it.
    :return:None
    """
    # Connect to the default database
    con = getOpenConnection(dbname='postgres')
    con.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT)
    cur = con.cursor()

    # Check if an existing database with the same name exists
    cur.execute('SELECT COUNT(*) FROM pg_catalog.pg_database WHERE datname=\'%s\'' % (dbname,))
    count = cur.fetchone()[0]
    if count == 0:
        cur.execute('CREATE DATABASE %s' % (dbname,))  # Create the database
        print("DATABASE " + dbname + " created")
    else:
        print("Database with the given name already exists")

    # Clean up
    cur.close()
    con.commit()
    con.close()

In [9]:
createDB(DATABASE_NAME)

Database with the given name already exists

In [10]:
engine = create_engine(getEngineConnectionString(dbname = DATABASE_NAME))
con = engine.connect()
print("sqlalchemy engine created")

sqlalchemy engine created

In [11]:
try:
    con.execute("CREATE EXTENSION postgis;") # Add PostGIS extension
    print("postgis extension created")
except:
    print("Unable to create postgis extension")

Unable to create postgis extension

In [12]:
dfAirbnb = gpd.read_file("inputs/airbnb")

In [13]:
dfAirbnb.head()

,community,shape_area,shape_len,AREAID,response_r,accept_r,rev_rating,price_pp,room_type,num_spots,...,crowded,dependency,without_hs,unemployed,income_pc,harship_in,num_crimes,num_theft,population,geometry
0,DOUGLAS,46004621.1581,31027.0545098,35,98.771429,94.514286,87.777778,78.157895,1.789474,38,...,1.8,30.7,14.3,18.2,23791,47,5013,1241,18238,"POLYGON ((-87.60914 41.84469, -87.60915 41.844..."
1,OAKLAND,16913961.0408,19565.5061533,36,99.200000,90.105263,88.812500,53.775000,1.850000,20,...,1.3,40.4,18.4,28.7,19252,78,1306,311,5918,"POLYGON ((-87.59215 41.81693, -87.59231 41.816..."
2,FULLER PARK,19916704.8692,None,37,68.000000,NaN,91.750000,84.000000,1.833333,6,...,3.2,44.9,26.6,33.9,10432,97,1764,383,2876,"POLYGON ((-87.62880 41.80189, -87.62879 41.801..."
3,GRAND BOULEVARD,48492503.1554,28196.8371573,38,94.037037,83.615385,92.750000,119.533333,1.533333,30,...,3.3,39.5,15.9,24.3,23472,57,6416,1428,21929,"POLYGON ((-87.60671 41.81681, -87.60670 41.816..."
4,KENWOOD,29071741.9283,23325.1679062,39,92.542857,88.142857,90.656250,77.991453,1.615385,39,...,2.4,35.4,11.3,15.7,35911,26,2713,654,17841,"POLYGON ((-87.59215 41.81693, -87.59215 41.816..."

In [14]:
dfAirbnb.to_postgis("airbnb", engine)#(tablename, connection_object)

ValueError: Table 'airbnb' already exists.

In [15]:
#-------------------------------------------------------------------------------------------------------------------------#

In [16]:
dfGrocery = gpd.read_file("inputs/grocery/Chicago_sup.shp")

In [17]:
dfGrocery.head()

,OBJECTID,Ycoord,Xcoord,Status,Address,Chain,Category,geometry
0,16,41.973266,-87.657073,OPEN,"1051 W ARGYLE ST, CHICAGO, IL. 60640",VIET HOA PLAZA,None,MULTIPOINT (1168268.672 1933554.350)
1,18,41.696367,-87.681315,OPEN,"10800 S WESTERN AVE, CHICAGO, IL. 60643-3226",COUNTY FAIR FOODS,None,MULTIPOINT (1162302.618 1832900.224)
2,22,41.868634,-87.638638,OPEN,"1101 S CANAL ST, CHICAGO, IL. 60607-4932",WHOLE FOODS MARKET,None,MULTIPOINT (1173317.042 1895425.426)
3,23,41.877590,-87.654953,OPEN,"1101 W JACKSON BLVD, CHICAGO, IL. 60607-2905",TARGET/SUPER,new,MULTIPOINT (1168996.475 1898801.406)
4,27,41.737696,-87.625795,OPEN,"112 W 87TH ST, CHICAGO, IL. 60620-1318",FOOD 4 LESS,None,MULTIPOINT (1176991.989 1847262.423)

In [18]:
dfGrocery.to_postgis("grocery", engine)

ValueError: Table 'grocery' already exists.

In [27]:
#close the previous connection and open a new connection where we specify the name of our database
#so this database will be used for further execution
if con:
    con.close()

con = getOpenConnection(dbname = DATABASE_NAME)
cur = con.cursor()

In [20]:
#We need to check if SRIDs of geometry column of both tables are same
#get the SRID for Airbnb table
cur.execute("Select ST_SRID(geometry) from airbnb limit 1")
results = cur.fetchall()
print(results)

[(4326,)]

In [21]:
#get the SRID of grocery table
cur.execute("Select ST_SRID(geometry) from grocery limit 1")
results = cur.fetchall()
print(results)

[(6312,)]

In [22]:
#change SRID for grocery so that both are compatible for further operations
cur.execute("create table grocery3 as select ST_Transform(geometry, 4326) as geometry from grocery")

In [23]:
cur.execute("select ST_AsText(geometry) from grocery3 limit1")
results = cur.fetchall()
print(results)

[('MULTIPOINT(46.06287193273509 48.290595542702505)',), ('MULTIPOINT(45.76229352543728 47.41709723022278)',), ('MULTIPOINT(46.04280440417514 47.94890669715197)',), ('MULTIPOINT(45.993995939785385 47.984991177072665)',), ('MULTIPOINT(45.98353057709055 47.52133875560612)',), ('MULTIPOINT(46.074058080900045 47.94810188985351)',), ('MULTIPOINT(45.81644501604855 47.35664274536489)',), ('MULTIPOINT(45.81513722048567 47.35065201663056)',), ('MULTIPOINT(46.053354109638285 48.06340434233622)',), ('MULTIPOINT(46.09791072194087 48.05995738014233)',), ('MULTIPOINT(45.94406432409869 47.95281675566185)',), ('MULTIPOINT(46.08903073084791 47.93854514727709)',), ('MULTIPOINT(46.142070680629374 47.71140734643572)',), ('MULTIPOINT(46.039908037621515 47.93787916206182)',), ('MULTIPOINT(45.962684089719545 48.08139365869444)',), ('MULTIPOINT(45.87193375596409 47.5321162108365)',), ('MULTIPOINT(45.9191022387973 47.76604098577402)',), ('MULTIPOINT(46.0432586997842 48.37462535698951)',), ('MULTIPOINT(46.17218297672759 47.71778245389372)',), ('MULTIPOINT(46.10240685043526 48.07840742689094)',), ('MULTIPOINT(46.16726969589056 47.69481746478032)',), ('MULTIPOINT(46.025267875477404 48.086351021124)',), ('MULTIPOINT(46.093078538115165 48.086746544339206)',), ('MULTIPOINT(46.12681911736387 47.45989428311336)',), ('MULTIPOINT(45.8955948126929 47.768270008658654)',), ('MULTIPOINT(45.92491606781615 47.90848493150373)',), ('MULTIPOINT(46.12376560536818 48.03821587640489)',), ('MULTIPOINT(45.95482896166337 47.922514480181135)',), ('MULTIPOINT(45.89244608336229 47.85257397006273)',), ('MULTIPOINT(45.97814805036511 47.90367359187271)',), ('MULTIPOINT(46.00184430034297 48.12241552304032)',), ('MULTIPOINT(45.883593027835154 47.915574879323614)',), ('MULTIPOINT(45.86454047750114 47.914282620320556)',), ('MULTIPOINT(46.07848526410955 48.03728900791393)',), ('MULTIPOINT(45.76482372215647 47.39910222513998)',), ('MULTIPOINT(45.490095618241256 48.19360197894888)',), ('MULTIPOINT(46.01800593909677 47.88562985141485)',), ('MULTIPOINT(45.896060687222665 47.89332178123256)',), ('MULTIPOINT(45.913966072512395 48.45746191770723)',), ('MULTIPOINT(45.63516284722927 48.18435983150503)',), ('MULTIPOINT(45.564866208410976 48.18912615994466)',), ('MULTIPOINT(45.88780242545984 47.89663091401251)',), ('MULTIPOINT(45.8535414249176 47.91565825539794)',), ('MULTIPOINT(45.968750716332906 48.15162011032689)',), ('MULTIPOINT(45.852111793602376 47.92167121035357)',), ('MULTIPOINT(45.942285674903886 48.3840811326916)',), ('MULTIPOINT(45.932703174249134 48.16035565403219)',), ('MULTIPOINT(45.921127199245426 48.29094066005356)',), ('MULTIPOINT(45.720205976010554 47.901896461006075)',), ('MULTIPOINT(45.92679437940914 48.1649748193833)',), ('MULTIPOINT(45.87606090548088 48.104203602281125)',), ('MULTIPOINT(46.075356940210554 48.16035833426779)',), ('MULTIPOINT(45.865571553891634 48.12908972076126)',), ('MULTIPOINT(45.88020206266326 48.223198872009924)',), ('MULTIPOINT(45.99047516068804 48.173546521622384)',), ('MULTIPOINT(46.09583631391156 48.02982135362566)',), ('MULTIPOINT(45.702651506590904 47.453250267028295)',), ('MULTIPOINT(45.89104506111508 48.38879172387696)',), ('MULTIPOINT(45.71210028230414 47.54742455403719)',), ('MULTIPOINT(45.994790719533334 48.1952045241868)',), ('MULTIPOINT(45.73648910279008 47.68516939704186)',), ('MULTIPOINT(45.778526863492594 47.89888629548184)',), ('MULTIPOINT(45.82249647898967 48.133437523056)',), ('MULTIPOINT(45.92664651461379 48.207571997934345)',), ('MULTIPOINT(45.82946733480932 48.18067336651905)',), ('MULTIPOINT(45.78400618228891 47.97013193379757)',), ('MULTIPOINT(45.882273665720945 47.84425616146042)',), ('MULTIPOINT(46.07933534449422 48.19555923091723)',), ('MULTIPOINT(45.846828232705704 48.29844050248101)',), ('MULTIPOINT(46.077072537674226 48.201684296016545)',), ('MULTIPOINT(45.85764791117049 48.22380097336446)',), ('MULTIPOINT(45.80824497894241 48.15866302259027)',), ('MULTIPOINT(46.01623483818693 48.211724760362166)',), ('MULTIPOINT(46.06864889998591 48.2085937571428)',), ('MULTIPOINT(45.85835235277879 47.835131802931755)',), ('MULTIPOINT(46.04000636547562 48.01464582334564)',), ('MULTIPOINT(45.786083449938786 48.16112379724849)',), ('MULTIPOINT(45.7753611301184 48.11417342397384)',), ('MULTIPOINT(45.72454472074281 47.9032213877504)',), ('MULTIPOINT(45.81227230005664 47.816856108123126)',), ('MULTIPOINT(45.80277418944038 48.32678451601421)',), ('MULTIPOINT(45.72460699623325 48.270398288847545)',), ('MULTIPOINT(45.81406378228903 48.26100935714615)',), ('MULTIPOINT(45.80689845725451 48.266445988784824)',), ('MULTIPOINT(45.866585214579224 48.262767142445256)',), ('MULTIPOINT(45.96003219409962 48.255665261379406)',), ('MULTIPOINT(45.700456687116095 47.808644220722265)',), ('MULTIPOINT(46.060555182815186 48.25199654548045)',), ('MULTIPOINT(46.10135697740506 47.826189634471774)',), ('MULTIPOINT(45.69907421094062 47.80322413322506)',), ('MULTIPOINT(46.057056431092434 48.2576172082877)',), ('MULTIPOINT(45.72834429761744 48.214397032573636)',), ('MULTIPOINT(45.86946087146271 47.772339868150084)',), ('MULTIPOINT(45.974141316842214 47.76228857147858)',), ('MULTIPOINT(45.706065730184655 48.12100724332376)',), ('MULTIPOINT(45.73329424808398 48.26180026458396)',), ('MULTIPOINT(45.76569530122468 47.77988528835427)',), ('MULTIPOINT(45.66157309150138 48.313495548052)',), ('MULTIPOINT(45.69116600327071 48.122037642079675)',), ('MULTIPOINT(45.702978097001285 48.19285962866)',), ('MULTIPOINT(45.8047644436081 48.31444514397534)',), ('MULTIPOINT(45.68961493143843 47.756016283214876)',), ('MULTIPOINT(45.63745355326072 47.7660566177901)',), ('MULTIPOINT(45.68855462027522 47.75131077548313)',), ('MULTIPOINT(46.05579980162254 48.310124301460476)',), ('MULTIPOINT(45.672806559210514 48.291387700351926)',), ('MULTIPOINT(46.100561848023865 48.01944900517191)',), ('MULTIPOINT(46.02719228462779 48.323900966853785)',), ('MULTIPOINT(45.637719036179746 48.22295878003096)',), ('MULTIPOINT(46.04021549071581 47.98949551163221)',), ('MULTIPOINT(45.75323100270003 47.719096568769864)',), ('MULTIPOINT(45.68258527423539 47.721778306277585)',), ('MULTIPOINT(45.58352923426613 48.03691843494025)',), ('MULTIPOINT(45.55897862173575 47.76360467487761)',), ('MULTIPOINT(45.68212523238592 47.71936658407171)',), ('MULTIPOINT(45.747953419909855 48.38169257355562)',), ('MULTIPOINT(45.518436083342394 47.76235214216815)',), ('MULTIPOINT(45.59526384642866 48.22698883898954)',), ('MULTIPOINT(46.06200795928489 47.65540349384579)',), ('MULTIPOINT(45.69948837976032 48.41152171534859)',), ('MULTIPOINT(45.462060199131244 47.713528283530664)',), ('MULTIPOINT(45.579563237555 48.27649015992933)',), ('MULTIPOINT(45.55530963649209 48.20082811293491)',), ('MULTIPOINT(45.56367372657608 48.277656806490526)',), ('MULTIPOINT(45.5072158830934 48.452745282271856)',), ('MULTIPOINT(46.146936846689925 48.02339893734351)',), ('MULTIPOINT(45.8761384353146 47.63086972176907)',), ('MULTIPOINT(45.51032525835314 48.25874020674803)',), ('MULTIPOINT(45.97500096446808 48.4348376451726)',), ('MULTIPOINT(45.51269454094774 48.354375840418925)',), ('MULTIPOINT(46.099498647788536 48.05628815092105)',), ('MULTIPOINT(46.145040162140596 47.57445174442239)',), ('MULTIPOINT(45.82388149133942 48.06172931721138)',), ('MULTIPOINT(45.96248823531738 47.53744043833452)',), ('MULTIPOINT(46.06421631625805 47.522151132506494)',), ('MULTIPOINT(46.11934890600469 48.03683519936657)',), ('MULTIPOINT(46.10824424393897 48.052633739306636)',), ('MULTIPOINT(45.847373296870984 47.492099912418915)',), ('MULTIPOINT(45.70435441909651 48.34917861242745)',), ('MULTIPOINT(46.07161069462985 48.30193874271474)',), ('MULTIPOINT(45.99737821446376 48.28650801168519)',), ('MULTIPOINT(45.92612214629772 48.05175782311716)',), ('MULTIPOINT(46.13215593943687 47.99492355924439)',), ('MULTIPOINT(46.02332425459161 47.99097506151942)',), ('MULTIPOINT(45.97904196336229 48.1252682925468)',), ('MULTIPOINT(45.92346206922271 47.85579656101917)',), ('MULTIPOINT(46.06769233179001 47.91706104939864)',), ('MULTIPOINT(46.053604065799256 47.3757221742962)',)]

In [24]:
cur.execute("Select ST_SRID(geometry) from grocery3 limit 1")
results = cur.fetchall()
print(results)

[(4326,)]

In [25]:
#actual problem with solution
#count how many grocery shops are there in the neighbourhood of an airbnb
cur.execute("CREATE TABLE airbnb_grocery3 AS SELECT airbnb.geometry AS geom1, COUNT(grocery2.geometry) AS grocery_count FROM airbnb, grocery2 WHERE ST_Distance(airbnb.geometry, grocery2.geometry) < 133.9 GROUP BY airbnb.geometry")
#above query has processed the calculation and stored the result in a new table airbnb_grocery

UndefinedTable: relation "grocery2" does not exist
LINE 1: ...(grocery2.geometry) AS grocery_count FROM airbnb, grocery2 W...
                                                             ^

In [28]:
#print the results of calculation in above cell
cur.execute("SELECT * FROM airbnb_grocery3 limit 5")
result = cur.fetchall()
print(results)

UndefinedTable: relation "airbnb_grocery3" does not exist
LINE 1: SELECT * FROM airbnb_grocery3 limit 5
                      ^

In [ ]:
cur.close()
con.commit()
con.close()

In [29]:
help(engine)

Help on Engine in module sqlalchemy.engine.base object:

class Engine(sqlalchemy.engine.interfaces.Connectable, sqlalchemy.log.Identified)
 |  Engine(pool, dialect, url, logging_name=None, echo=None, query_cache_size=500, execution_options=None, hide_parameters=False)
 |
 |  Connects a :class:`~sqlalchemy.pool.Pool` and
 |  :class:`~sqlalchemy.engine.interfaces.Dialect` together to provide a
 |  source of database connectivity and behavior.
 |
 |  This is the **SQLAlchemy 1.x version** of :class:`_engine.Engine`.  For
 |  the :term:`2.0 style` version, which includes  some API differences,
 |  see :class:`_future.Engine`.
 |
 |  An :class:`_engine.Engine` object is instantiated publicly using the
 |  :func:`~sqlalchemy.create_engine` function.
 |
 |  .. seealso::
 |
 |      :doc:`/core/engines`
 |
 |      :ref:`connections_toplevel`
 |
 |  Method resolution order:
 |      Engine
 |      sqlalchemy.engine.interfaces.Connectable
 |      sqlalchemy.log.Identified
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, pool, dialect, url, logging_name=None, echo=None, query_cache_size=500, execution_options=None, hide_parameters=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  begin(self, close_with_result=False)
 |      Return a context manager delivering a :class:`_engine.Connection`
 |      with a :class:`.Transaction` established.
 |
 |      E.g.::
 |
 |          with engine.begin() as conn:
 |              conn.execute(
 |                  text("insert into table (x, y, z) values (1, 2, 3)")
 |              )
 |              conn.execute(text("my_special_procedure(5)"))
 |
 |      Upon successful operation, the :class:`.Transaction`
 |      is committed.  If an error is raised, the :class:`.Transaction`
 |      is rolled back.
 |
 |      Legacy use only: the ``close_with_result`` flag is normally ``False``,
 |      and indicates that the :class:`_engine.Connection` will be closed when
 |      the operation is complete. When set to ``True``, it indicates the
 |      :class:`_engine.Connection` is in "single use" mode, where the
 |      :class:`_engine.CursorResult` returned by the first call to
 |      :meth:`_engine.Connection.execute` will close the
 |      :class:`_engine.Connection` when that :class:`_engine.CursorResult` has
 |      exhausted all result rows.
 |
 |      .. seealso::
 |
 |          :meth:`_engine.Engine.connect` - procure a
 |          :class:`_engine.Connection` from
 |          an :class:`_engine.Engine`.
 |
 |          :meth:`_engine.Connection.begin` - start a :class:`.Transaction`
 |          for a particular :class:`_engine.Connection`.
 |
 |  clear_compiled_cache(self)
 |      Clear the compiled cache associated with the dialect.
 |
 |      This applies **only** to the built-in cache that is established
 |      via the :paramref:`_engine.create_engine.query_cache_size` parameter.
 |      It will not impact any dictionary caches that were passed via the
 |      :paramref:`.Connection.execution_options.query_cache` parameter.
 |
 |      .. versionadded:: 1.4
 |
 |  connect(self, close_with_result=False)
 |      Return a new :class:`_engine.Connection` object.
 |
 |      The :class:`_engine.Connection` object is a facade that uses a DBAPI
 |      connection internally in order to communicate with the database.  This
 |      connection is procured from the connection-holding :class:`_pool.Pool`
 |      referenced by this :class:`_engine.Engine`. When the
 |      :meth:`_engine.Connection.close` method of the
 |      :class:`_engine.Connection` object
 |      is called, the underlying DBAPI connection is then returned to the
 |      connection pool, where it may be used again in a subsequent call to
 |      :meth:`_engine.Engine.connect`.
 |
 |  dispose(self, close=True)
 |      Dispose of the connection pool used by this
 |      :class:`_engine.Engine`.
 |
 |      A new connection pool is created immediately after the old one has been
 |      disposed. The previous connection pool is disposed either actively, by
 |      closing out all currently checked-in connections in that pool, or
 |      passively, by losing references to it but otherwise not closing any
 |      connections. The latter strategy is more appropriate for an initializer
 |      in a forked Python process.
 |
 |      :param close: if left at its default of ``True``, has the
 |       effect of fully closing all **currently checked in**
 |       database connections.  Connections that are still checked out
 |       will **not** be closed, however they will no longer be associated
 |       with this :class:`_engine.Engine`,
 |       so when they are closed individually, eventually the
 |       :class:`_pool.Pool` which they are associated with will
 |       be garbage collected and they will be closed out fully, if
 |       not already closed on checkin.
 |
 |       If set to ``False``, the previous connection pool is de-referenced,
 |       and otherwise not touched in any way.
 |
 |      .. versionadded:: 1.4.33  Added the :paramref:`.Engine.dispose.close`
 |          parameter to allow the replacement of a connection pool in a child
 |          process without interfering with the connections used by the parent
 |          process.
 |
 |
 |      .. seealso::
 |
 |          :ref:`engine_disposal`
 |
 |          :ref:`pooling_multiprocessing`
 |
 |  execute(self, statement, *multiparams, **params)
 |      Executes the given construct and returns a
 |      :class:`_engine.CursorResult`.
 |
 |      .. deprecated:: 1.4 The :meth:`_engine.Engine.execute` method is considered legacy as of the 1.x series of SQLAlchemy and will be removed in 2.0. All statement execution in SQLAlchemy 2.0 is performed by the :meth:`_engine.Connection.execute` method of :class:`_engine.Connection`, or in the ORM by the :meth:`.Session.execute` method of :class:`.Session`. (Background on SQLAlchemy 2.0 at: :ref:`migration_20_toplevel`)
 |
 |      The arguments are the same as those used by
 |      :meth:`_engine.Connection.execute`.
 |
 |      Here, a :class:`_engine.Connection` is acquired using the
 |      :meth:`_engine.Engine.connect` method, and the statement executed
 |      with that connection. The returned :class:`_engine.CursorResult`
 |      is flagged
 |      such that when the :class:`_engine.CursorResult` is exhausted and its
 |      underlying cursor is closed, the :class:`_engine.Connection`
 |      created here
 |      will also be closed, which allows its associated DBAPI connection
 |      resource to be returned to the connection pool.
 |
 |  execution_options(self, **opt)
 |      Return a new :class:`_engine.Engine` that will provide
 |      :class:`_engine.Connection` objects with the given execution options.
 |
 |      The returned :class:`_engine.Engine` remains related to the original
 |      :class:`_engine.Engine` in that it shares the same connection pool and
 |      other state:
 |
 |      * The :class:`_pool.Pool` used by the new :class:`_engine.Engine`
 |        is the
 |        same instance.  The :meth:`_engine.Engine.dispose`
 |        method will replace
 |        the connection pool instance for the parent engine as well
 |        as this one.
 |      * Event listeners are "cascaded" - meaning, the new
 |        :class:`_engine.Engine`
 |        inherits the events of the parent, and new events can be associated
 |        with the new :class:`_engine.Engine` individually.
 |      * The logging configuration and logging_name is copied from the parent
 |        :class:`_engine.Engine`.
 |
 |      The intent of the :meth:`_engine.Engine.execution_options` method is
 |      to implement "sharding" schemes where multiple :class:`_engine.Engine`
 |      objects refer to the same connection pool, but are differentiated
 |      by options that would be consumed by a custom event::
 |
 |          primary_engine = create_engine("mysql://")
 |          shard1 = primary_engine.execution_options(shard_id="shard1")
 |          shard2 = primary_engine.execution_options(shard_id="shard2")
 |
 |      Above, the ``shard1`` engine serves as a factory for
 |      :class:`_engine.Connection`
 |      objects that will contain the execution option
 |      ``shard_id=shard1``, and ``shard2`` will produce
 |      :class:`_engine.Connection`
 |      objects that contain the execution option ``shard_id=shard2``.
 |
 |      An event handler can consume the above execution option to perform
 |      a schema switch or other operation, given a connection.  Below
 |      we emit a MySQL ``use`` statement to switch databases, at the same
 |      time keeping track of which database we've established using the
 |      :attr:`_engine.Connection.info` dictionary,
 |      which gives us a persistent
 |      storage space that follows the DBAPI connection::
 |
 |          from sqlalchemy import event
 |          from sqlalchemy.engine import Engine
 |
 |          shards = {"default": "base", shard_1: "db1", "shard_2": "db2"}
 |
 |          @event.listens_for(Engine, "before_cursor_execute")
 |          def _switch_shard(conn, cursor, stmt,
 |                  params, context, executemany):
 |              shard_id = conn._execution_options.get('shard_id', "default")
 |              current_shard = conn.info.get("current_shard", None)
 |
 |              if current_shard != shard_id:
 |                  cursor.execute("use %s" % shards[shard_id])
 |                  conn.info["current_shard"] = shard_id
 |
 |      .. seealso::
 |
 |          :meth:`_engine.Connection.execution_options`
 |          - update execution options
 |          on a :class:`_engine.Connection` object.
 |
 |          :meth:`_engine.Engine.update_execution_options`
 |          - update the execution
 |          options for a given :class:`_engine.Engine` in place.
 |
 |          :meth:`_engine.Engine.get_execution_options`
 |
 |  get_execution_options(self)
 |      Get the non-SQL options which will take effect during execution.
 |
 |      .. versionadded: 1.3
 |
 |      .. seealso::
 |
 |          :meth:`_engine.Engine.execution_options`
 |
 |  has_table(self, table_name, schema=None)
 |      Return True if the given backend has a table of the given name.
 |
 |      .. deprecated:: 1.4 The :meth:`_engine.Engine.has_table` method is deprecated and will be removed in a future release.  Please refer to :meth:`_reflection.Inspector.has_table`.
 |
 |      .. seealso::
 |
 |          :ref:`metadata_reflection_inspector` - detailed schema inspection
 |          using the :class:`_reflection.Inspector` interface.
 |
 |          :class:`.quoted_name` - used to pass quoting information along
 |          with a schema identifier.
 |
 |  raw_connection(self, _connection=None)
 |      Return a "raw" DBAPI connection from the connection pool.
 |
 |      The returned object is a proxied version of the DBAPI
 |      connection object used by the underlying driver in use.
 |      The object will have all the same behavior as the real DBAPI
 |      connection, except that its ``close()`` method will result in the
 |      connection being returned to the pool, rather than being closed
 |      for real.
 |
 |      This method provides direct DBAPI connection access for
 |      special situations when the API provided by
 |      :class:`_engine.Connection`
 |      is not needed.   When a :class:`_engine.Connection` object is already
 |      present, the DBAPI connection is available using
 |      the :attr:`_engine.Connection.connection` accessor.
 |
 |      .. seealso::
 |
 |          :ref:`dbapi_connections`
 |
 |  run_callable(self, callable_, *args, **kwargs)
 |      Given a callable object or function, execute it, passing
 |      a :class:`_engine.Connection` as the first argument.
 |
 |      .. deprecated:: 1.4 The :meth:`_engine.Engine.run_callable` method is deprecated and will be removed in a future release.  Use the :meth:`_engine.Engine.begin` context manager instead.
 |
 |      The given \*args and \**kwargs are passed subsequent
 |      to the :class:`_engine.Connection` argument.
 |
 |      This function, along with :meth:`_engine.Connection.run_callable`,
 |      allows a function to be run with a :class:`_engine.Connection`
 |      or :class:`_engine.Engine` object without the need to know
 |      which one is being dealt with.
 |
 |  scalar(self, statement, *multiparams, **params)
 |      Executes and returns the first column of the first row.
 |
 |      .. deprecated:: 1.4 The :meth:`_engine.Engine.scalar` method is considered legacy as of the 1.x series of SQLAlchemy and will be removed in 2.0. All statement execution in SQLAlchemy 2.0 is performed by the :meth:`_engine.Connection.execute` method of :class:`_engine.Connection`, or in the ORM by the :meth:`.Session.execute` method of :class:`.Session`; the :meth:`_future.Result.scalar` method can then be used to return a scalar result. (Background on SQLAlchemy 2.0 at: :ref:`migration_20_toplevel`)
 |
 |      The underlying result/cursor is closed after execution.
 |
 |  table_names(self, schema=None, connection=None)
 |      Return a list of all table names available in the database.
 |
 |      .. deprecated:: 1.4 The :meth:`_engine.Engine.table_names` method is deprecated and will be removed in a future release.  Please refer to :meth:`_reflection.Inspector.get_table_names`.
 |
 |      :param schema: Optional, retrieve names from a non-default schema.
 |
 |      :param connection: Optional, use a specified connection.
 |
 |  transaction(self, callable_, *args, **kwargs)
 |      Execute the given function within a transaction boundary.
 |
 |      .. deprecated:: 1.4 The :meth:`_engine.Engine.transaction` method is deprecated and will be removed in a future release.  Use the :meth:`_engine.Engine.begin` context manager instead.
 |
 |      The function is passed a :class:`_engine.Connection` newly procured
 |      from :meth:`_engine.Engine.connect` as the first argument,
 |      followed by the given \*args and \**kwargs.
 |
 |      e.g.::
 |
 |          def do_something(conn, x, y):
 |              conn.execute(text("some statement"), {'x':x, 'y':y})
 |
 |          engine.transaction(do_something, 5, 10)
 |
 |      The operations inside the function are all invoked within the
 |      context of a single :class:`.Transaction`.
 |      Upon success, the transaction is committed.  If an
 |      exception is raised, the transaction is rolled back
 |      before propagating the exception.
 |
 |      .. note::
 |
 |         The :meth:`.transaction` method is superseded by
 |         the usage of the Python ``with:`` statement, which can
 |         be used with :meth:`_engine.Engine.begin`::
 |
 |             with engine.begin() as conn:
 |                 conn.execute(text("some statement"), {'x':5, 'y':10})
 |
 |      .. seealso::
 |
 |          :meth:`_engine.Engine.begin` - engine-level transactional
 |          context
 |
 |          :meth:`_engine.Connection.transaction`
 |          - connection-level version of
 |          :meth:`_engine.Engine.transaction`
 |
 |  update_execution_options(self, **opt)
 |      Update the default execution_options dictionary
 |      of this :class:`_engine.Engine`.
 |
 |      The given keys/values in \**opt are added to the
 |      default execution options that will be used for
 |      all connections.  The initial contents of this dictionary
 |      can be sent via the ``execution_options`` parameter
 |      to :func:`_sa.create_engine`.
 |
 |      .. seealso::
 |
 |          :meth:`_engine.Connection.execution_options`
 |
 |          :meth:`_engine.Engine.execution_options`
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  driver
 |      Driver name of the :class:`~sqlalchemy.engine.interfaces.Dialect`
 |      in use by this :class:`Engine`.
 |
 |  engine
 |
 |  name
 |      String name of the :class:`~sqlalchemy.engine.interfaces.Dialect`
 |      in use by this :class:`Engine`.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  echo
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sqlalchemy.engine.interfaces.Connectable:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from sqlalchemy.engine.interfaces.Connectable:
 |
 |  dispatch = <sqlalchemy.event.base.ConnectionEventsDispatch object>
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from sqlalchemy.log.Identified:
 |
 |  logging_name = None